<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer-1">
        <div class="Ufooter">
            <div class="lists">
                <div class="list1">
                    <h2>
                        WHATSAPP
                    </h2>
                    <ul>
                        <li>
                            <a href="">Features</a>
                        </li>
                        <li>
                            <a href="">Security</a>
                        </li>
                        <li>
                            <a href="">Download</a>
                        </li>
                        <li>
                            <a href=""> Whatsapp Web </a>
                        </li>
                        <li>
                            <a href=""> Business </a>
                        </li>
                        <li>
                            <a href=""> Privacy </a>
                        </li>
                    </ul>
                </div>
                <div class="list2">
                    <h2>
                        COMPANY
                    </h2>
                    <ul>
                        <li>
                            <a href="">About</a>
                        </li>
                        <li>
                            <a href="">Careers</a>
                        </li>
                        <li>
                            <a href="">Brand Center</a>
                        </li>
                        <li>
                            <a href=""> Get In Touch </a>
                        </li>
                        <li>
                            <a href=""> Blog </a>
                        </li>
                        <li>
                            <a href=""> WhatsApp Stories </a>
                        </li>
                    </ul>
                </div>
                <div class="list1">
                    <h2>
                        DOWNLOAD
                    </h2>
                    <ul>
                        <li>
                            <a href="">Mac/PC</a>
                        </li>
                        <li>
                            <a href="">Android</a>
                        </li>
                        <li>
                            <a href="">Iphone</a>
                        </li>

                    </ul>
                </div>
                <div class="list1">
                    <h2>
                        HELP
                    </h2>
                    <ul>
                        <li>
                            <a href="">Help Center</a>
                        </li>
                        <li>
                            <a href="">Twitter</a>
                        </li>
                        <li>
                            <a href="">Faceboook</a>
                        </li>
                        <li>
                            <a href=""> Coronavirus </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-2">
        <div>
            <h2>
                2021 © WhatsApp LLC
            </h2>
            <a href="">Privacy and terms <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>

</body>
</html>