<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <div id="H2" class="H2">
        <nav>
            <div class="logo">
                <img src="logo.svg" alt="" id="logobf">
                <img src="logo.png" alt="" id="logoaf">
                <button id="close">
                    <i class="fas fa-times"></i>
                </button>

            </div>
            <ul>
                <li>
                    <a href="">
                        <h5>Download</h5 style="font-size:16px;">
                    </a>

                </li>
                <li>
                    <a href="">
                        <h5>Features</h5 style="font-size:16px;">
                    </a>
                </li>
                <li>
                    <a href="">
                        <h5>Security</h5 style="font-size:16px;">
                    </a>
                </li>
                <li>
                    <a href="">
                        <h5>Help Center</h5 style="font-size:16px;">
                    </a>
                </li>
                <li>
                    <a href="">
                        <h5>Get in Touch</h5 style="font-size:16px;">
                    </a>
                </li>
            </ul>
            <button class="en-btn">

                <a href="">English</a>
                <i class="fas fa-chevron-down"></i>


            </button>
        </nav>
    </div>
</body>
</html>