<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<section>
        <div class="ham_button" id="ham">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="row">
            <img src="logo.png" alt="" class="Wlogo">
            <div class="row1">
                <h1>
                    Simple. Secure. <br>
                    Reliable messaging.
                </h1>
                <h4>
                    With WhatsApp, you'll get fast, simple, secure messaging and calling for free*, available on phones
                    all over the world.
                </h4>
                <p>
                    * Data charges may apply. Contact your provider for details.
                </p>
                <button class="download">
                    Download Now
                </button>
                <ul>
                    <li><a href=""><i class="fab fa-android"></i> Android <i class="fas fa-chevron-right"></i></a></li>
                    <li><a href=""><i class="fab fa-apple"></i> iPhone <i class="fas fa-chevron-right"></i></a></li>
                    <li><a href=""><i class="fas fa-desktop"></i> Mac or Windows PC <i
                                class="fas fa-chevron-right"></i></a></li>
                </ul>
            </div>
            <div class="row2">
                <img src="mobilee.png" alt="" class="firimg">
                <img src="mobile.png" alt="" class="secimg">
            </div>
        </div>
    </section>
</body>
</html>